<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUI</key>
	<array>
		<string>0NameCanWe</string>
		<string>0SoTouch</string>
	</array>
	<key>CoreAnimation</key>
	<array>
		<string>3GestureUnlock</string>
		<string>3EraseImage</string>
		<string>3SnowSurroundScreen</string>
		<string>3CutImage</string>
		<string>3PieGraphicNHistogram</string>
		<string>3DownloadProgress</string>
		<string>2PaintBoard</string>
	</array>
	<key>NetworkRequest</key>
	<array>
		<string>0NothingTose</string>
		<string>2Ok</string>
	</array>
</dict>
</plist>
