<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUI</key>
	<array>
		<string>0NameCanWe</string>
		<string>0SoTouch</string>
	</array>
	<key>CoreAnimation</key>
	<array>
		<string>0GestureUnlock</string>
		<string>0EraseImage</string>
		<string>0SnowSurroundScreen</string>
		<string>0CutImage</string>
		<string>0PieGraphicNHistogram</string>
		<string>0DownloadProgress</string>
	</array>
	<key>NetworkRequest</key>
	<array>
		<string>0NothingTose</string>
		<string>2Ok</string>
	</array>
</dict>
</plist>
